*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: grid;
  margin-top: 50px;
  place-items: center;
}

.container {
  align-items: center;
  display: grid;
  place-items: center;
  width: 300px;
}

[class^="news-"],
.content-select {
  display: grid;
  height: inherit;
  outline: none;
  width: inherit;
}

[class^="news-"] {
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.news-header {
  background-color: #343148ff;
  color: #d7c49eff;
  grid-template-columns: 1fr;
  padding: 15px 5px;
}

.news-type {
  background-color: #f0ffff;
  padding: 0;
}

.tab {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  place-items: center;
  width: 100%;
}

.tab.active {
  background-color: #adefd1ff;
  color: #00203fff;
  margin: 0;
  padding: 12px;
}

.tab:hover {
  color: #ce564e;
  cursor: pointer;
}

.news-select {
  background-color: #adefd1ff;
  padding: 8px 5px;
}

.content-select {
  border: solid 1px silver;
  border-top: none;
}

input:hover {
  cursor: pointer;
}

.warn {
  background-color: #fd2020;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  color: #fff;
  display: none;
  font-weight: 700;
  height: 100%;
  text-align: center;
  transition: height 0.5s;
  width: 100%;
}

p {
  display: grid;
  grid-template-columns: 22px 280px;
}

a {
  align-self: center;
  color: #00008b;
  display: grid;
  margin-top: 2px;
  text-decoration: none;
}

a:hover {
  color: #ff7f50;
}

i {
  align-self: center;
  display: grid;
  justify-content: center;
  margin-left: 4px;
}
